<h1>Pandas</h1>

In [ ]:
#installing pandas libraries
!pip install pandas-datareader
!pip install --upgrade html5lib==1.0b8

#There is a bug in the latest version of html5lib so install an earlier version
#Restart kernel after installing html5lib

<h2>Imports</h2>

In [4]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

<h2>The structure of a dataframe</h2>

In [6]:
pd.DataFrame([[1,2,3],[1,2,3],[4,5,6]],columns=['A','B','C'])

   A  B  C
0  1  2  3
1  1  2  3
2  4  5  6

<h3>Accessing columns and rows</h3>

In [10]:
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
print(id(df))
print(df)
df.set_index('row_label',inplace=True)
print(id(df))
df

2882792025480
  row_label   A   B   C
0        r1  00  01  02
1        r2  10  11  12
2        r3  20  21  22
2882792025480

            A   B   C
row_label
r1         00  01  02
r2         10  11  12
r3         20  21  22

<h3>Getting column data</h3>

In [13]:
df['B']

row_label
r1    01
r2    11
r3    21
Name: B, dtype: object

<h3>Getting row data</h3>

In [16]:
df.loc['r1']

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting a row by row number</h3>

In [17]:
df.iloc[0]

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting multiple columns<h3>

In [20]:
#df[['B','A']] #Note that the column identifiers are in a list

df[['B', 'A']]

            B   A
row_label
r1         01  00
r2         11  10
r3         21  20

<h3>Getting a specific cell</h3>

In [21]:
df.loc['r2','B']

'11'

In [22]:
df.loc['r2']['A']

'10'

<h3>Slicing</h3>

In [23]:
df.loc['r1':'r2']

            A   B   C
row_label
r1         00  01  02
r2         10  11  12

In [24]:
df.loc['r1':'r2','B':'C']

            B   C
row_label
r1         01  02
r2         11  12