<h1>Operations with numbers</h1>

In [6]:
21 * 21 #Returns int

441

In [4]:
price = 10.90

In [5]:
print(type(price))

<class 'float'>

In [7]:
21 * 21.0 #Returns float

441.0

In [8]:
21/3 #Returns float (division always returns float)

7.0

In [9]:
21//3 #Returns int

7

In [10]:
21//3.0 #Returns float

7.0

In [11]:
21//3.2 #Returns float whose value is the lower integer bound of 21//3.2

6.0

In [14]:
21/3.2

6.5625

In [15]:
21%4 #Returns int (the remainder of dividing 21 by 4)

1

In [16]:
21%4.4 #Returns float (21 - 21//4.4)

3.3999999999999986

In [19]:
4.4*3

13.200000000000001

In [20]:
4.4*4

17.6

In [22]:
21-17.6

3.3999999999999986

In [24]:
21**2 #Returns int

441

In [25]:
21**4.2 #Returns float

357537.0379611622

<h1>String operations</h1>

<h3>Indexing</h3>

In [30]:
x = "Always take a banana to a party!"

In [28]:
p = "route"

In [29]:
print(type(p))

<class 'str'>

In [31]:
x[3] #Returns the 4th (i+1)th character in x

'a'

In [32]:
x[-1] #Returns the last character in x

'!'

In [33]:
x[-2] #Returns the second last character in x

'y'

In [37]:
x[32] #IndexError. Out of range

IndexError: string index out of range

In [35]:
len(x) #Returns the length of the string (an integer)

32

<h3>Slicing</h3>

In [39]:
x[3:8] #Returns the 8th to the 11th character (i.e., 11-7 characters)

'ays t'

In [48]:
x[7:-1] #Returns every character starting with location 7 (the 8th character) to the end of the string
#Omitting the endpoint defaults to the "rest of the string"

'take a banana to a party'

In [41]:
x[0::2] #returns a substring starting from 0, going to the end (omitted), 2 characters at a time

'Awy aeabnn oapry'

In [43]:
x[::-2] #Start from whatever makes sense as the start, go to whatever makes sense as the end, go backward
# one character at a time
#Here it makes sense to start at the end and go all the way to the beginning (because of the -1)
#Returns a reversed string

'!ta  taaa  ktsal'

<h3>Searching</h3>

In [44]:
x.find('to') #Returns the location of the first 'to' found

21

In [45]:
x.find('hello') #Returns -1. I.e., the substring was not found in x

-1

<h3>Immutability</h3>

In [50]:
x[3] = 'b' #TypeError. Can't change a string

TypeError: 'str' object does not support item assignment

In [52]:
x = "Hello"
y = x
#print(y)
print(id(x),id(y))
#x and y are the same string

2114781074544 2114781074544

In [53]:
x="Always take a banana to a party!"
print(id(x),id(y))
#x now points to a different string. y is still the same old string at the same old location!

2114780310864 2114781074544

In [58]:
print(x, ',second:',y)

Always take a banana to a party! ,second: Hello

<h3>Concatenation</h3>

In [61]:
#The plus operator concatenates two strings to give rise to a third string
x="Hello"
y="Dolly"
z=x+y
print(x,y,z,id(x),id(y),id(z)) #x, y and z are all different strings

Hello Dolly HelloDolly 2114781074544 2114781062896 2114781046128

In [62]:
#Since python doesn't understand that we need a space between Hello and Dolly, we need to add it ourselves
z = x + " " + y
print(z)

Hello Dolly

<h1>booleans</h1>

In [66]:
x=4
y=2
#z=(x==y) #False because x and y are not the same
z=(x-2==y) #True because x and y are the same
print(z)

True

In [67]:
#Comparison is by value
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Different strings

2114780347568 2114780347568

In [70]:
print(x == y) #But they have the same value

True

In [74]:
x=8
print(x,bool(x)) #Non-zero numbers, strings with values are always True

8 True

In [78]:
x=' ' #Empty string
print(x,bool(x)) #Empty strings, 0 numbers are always False

  True

<h3>Logical operators</h3>

In [1]:
x=4
y=5
print(x>2 and y>2) #True because both x and y are greater than 2

True

In [2]:
print(x>2 and y<2) #False because one is False

False

In [3]:
print(x<2 and y<2) #False because both are False

False

In [4]:
print(x>2 or y>2) #True because at least one is True

True

In [5]:
print(x<2 or y>2) #True because at least one is True

True

In [6]:
print(x<2 or y<2) #False because both are False

False

In [7]:
print(not(x>2 or y>2)) #False because x>2 or y>2 is True

False

In [12]:
x = 4
y = 5

In [11]:
print(x and y) #4 because x is True (non-zero) so no need to evaluate y. Value of x is returned

0

In [14]:
print(0+3 and x) #3 because x is non-zero but need to check the second operand as well. That evaluates to 3

4

<h1>Assignment</h1>

In [17]:
x = p + 10 #NameError! p is not defined

NameError: name 'p' is not defined

In [21]:
p = 7
x = p + 10 #This works
print(x)

17

In [24]:
x = pod = 9

In [25]:
x,y = 3,4
print(x,y) #x is 3 and y is 4

3 4

In [26]:
x = 7
x += 4 # x = x + 4
print(x) #x is 11 because x += 4 is equivalent to x = x+4

11